*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  font-size: var(--text-l);
  line-height: 1.6;
}

.main_page {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: var(--font-mono);
  font-size: var(--title-xl);
  color: var(--bateco-green);
  margin: 50px;
}

h1, h2, h3 {
  font-weight: bold;
  margin: 40px;
  text-align: center;
}

p {
  margin: 40px;
}

h2 {
  font-size: var(--title-lg);
}

h3 {
  font-size: var(--text-big);
}

h4 {
  font-size: var(--text-button);
  text-align: center;
}

h5 {
  font-size: var(--text-l);
  text-align: center;
}

.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

.text_cetered {
  text-align: center;
}

.text_left {
  text-align: left;
}

.listUnstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.entete_acceuil {
  text-align: center;
  width: 100%;
  padding: 30px 0 50px 0;
  background-image: url("../../../assets/img/image-fond-accueil.png");
  background-repeat: no-repeat;
  background-position: 0 30px;
}

.entete_acceuil h5 {
  color: white;
}

.entete {
  width: 100%;
  padding: 30px 0px 0px 0px;
  background: var(--bateco-dark-blue);
  color: white;
}

.contact_envoi {
  border: 0;
  line-height: 2.5;
  padding: 0 ;
}

