footer {
  color: var(--gray-white);
  background-color: var(--gray-black);
  background-clip: content-box;
  margin: 0;
}

.footer a {
  color: var(--gray-600);
  text-decoration: none;
}

.footer__list {
  display: flex;
  gap: var(--space3x);
}

.footer__address {
  font-style: normal;
}

footer div:first-child {
  margin: 10px;
  padding: -50px;
  background-color: var(--bateco-green);
  border: none;
}

footer div:last-child {
  margin: 10px;
}

footer div:last-child h2 {
  color: var(--bateco-green);
}