header {
  background-color: var(--gray-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  padding: 0;
}

.header__start {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.menu_button {
  background-color: var(--bateco-green);
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 0 0 0 25px;
}

.logo-clickable {
  padding: 20px 0 0 25px;
}